.yelp-card {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: #fff;
  color: #555;
  border-radius: 5px;
  border: 1px solid #CCC;
  min-height: calc(100% - 1rem);
  padding: 1rem;
  margin: 00.5rem;
}
.yelp-card--img {
  display: block;
}
.yelp-card--content {
  display: inline-block;
  padding-left: 0.5rem;
}
.yelp-card--content--title {
  margin: 0;
}
.yelp-card--content--detail {
  font-size: 1rem;
  word-break: break-all;
}
.yelp-card--content--detail i{
  display: block;
  font-size: 0.8rem;
}
.yelp-card--content--detail b{
  display: block;
  padding-left: 0.5rem;
}
.yelp-card--content--detail p{
  white-space: break-spaces;
}
.yelp-card--content--detail--hide{
  display: none;
}
.yelp-card--content-head{
  padding-right: 1rem;
}
.yelp-card--img--image {
  width: 100%;
  background-color: #333;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}


// @media (min-width: 992px) {
//   .yelp-card--img--image {
//     width: 10rem;
//   }
// }